<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather for {{ capital }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="weather">

  <ion-item *ngIf="resultStatus == 422"><h4>No Weather Data found for {{ capital }}</h4></ion-item>
  
  <ion-card class="today">
    <ion-card class="date">
      <ion-card-subtitle class="dateText">Today</ion-card-subtitle>
    </ion-card>

    <ion-img style="width: 80px;" src="{{ weather.icon }}" aria-hidden=""></ion-img>  
    <ion-card-header>
      <ion-card-title>{{ weather.description }}</ion-card-title>
      <ion-card-subtitle>{{ weather.temperature }} ({{ unit }})</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <app-forecast></app-forecast>
  
</ion-content>
