.today {
    background-color: rgb(230, 255, 247);
}

.date {
    width: 100px; 
    text-align: center; 
    background-color: #beeaff;
    padding: 3px;
}

.dateText {
    color: rgb(54, 69, 79);
    font-weight: 600;
}

.forecastButton {
    margin-left: 10px;
}

.forecastCard {
    background-color: rgb(224, 224, 235);
}