<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News from {{ country }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="resultStatus == 422"><h4>No News found for {{ country }}</h4></ion-item>
  <ion-item *ngIf="!resultStatus"><h4>News for {{ country }}</h4></ion-item>
  
  <ion-card *ngFor="let news of newsData">
    <ion-img *ngIf="news.image_url" src="{{ news.image_url }}" aria-hidden=""></ion-img>
    <ion-card-header>
      <ion-card-title>{{ news.title }}</ion-card-title>
      <a target="_blank" href="{{news.link}}">Read more</a>
      <ion-card-subtitle>{{ news.description }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>

