<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00411224
    <div class="ionIcon">
      <ion-icon 
        src="./././assets/icon/settings-outline.svg" 
        (click)="openSettingsPage()" 
        color="dark">
      </ion-icon>
    </div>
    </ion-title>
    
    
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-col></ion-col>
  <ion-input label-placement="floating" fill="outline" label="Enter Country:" placeholder="country name" [(ngModel)]="keyword"></ion-input>
  <ion-button expand="block" (click)="openCountriesPage()">Search</ion-button>

</ion-content>
