<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ keyWord }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="resultStatus == 404">Sorry, no country of this name can be found. Please try a different name.</ion-item>

  <ion-card *ngFor="let country of countries let i = index">
    
    <img src="{{ country.flag }}" class="countries-img" aria-hidden=""/>
    <ion-card-header>
      <ion-card-title>{{ country.officialName }}</ion-card-title>
      <ion-col></ion-col>
      <!--
      <ion-button expand="block" fill="outline" (click)="openNewsPage(country.cca2, country.name.official)">News</ion-button>
      -->
      <ion-button expand="block" fill="outline" (click)="openNewsPage(country)">News</ion-button>
      <!--
      <ion-button expand="block" fill="outline" (click)="openWeatherPage(country.latitude, country.longitude, country.capital)">Weather</ion-button>
      -->
      <ion-button expand="block" fill="outline" (click)="openNewWeatherPage(country)">Weather</ion-button>
    </ion-card-header>
    
  </ion-card>

</ion-content>
